<% # Meta information for the <head> section %>
<% title "Web Application Developer" %>
<% meta_tag :description, "Scott Christensen is a web application developer available for full-time remote work. Scott has experience with Ruby, JavaScript, HTML5, and CSS3." %>


<div class="row">
  <div class="col s12 m5">
    <h2 class="section-title about">Hi, my name is Scott.</h2>
    <p>
      I'm a web developer that enjoys working with any technology gets the job done. I have been working with Ruby and the Ruby on Rails framework, but I enjoy front-end development as well.

      HTML, CSS, and JavaScript are all fun to work with. I am a better developer than designer, but I like to think I have an eye for good design as well. Lets build something cool together!
    </p>
    <p>
      I am very interested in working with a great team of other like minded
      individuals. I like surrounding myself with people that are smarter than
      I am. Are you interested in working with someone that strives
      to grow everyday? If so, you should start the conversation by
      <%= link_to "sending me a message", new_contact_path %></a>.
    </p>
    <p>
      You can find me on the web. I micro blog on <a href="https://twitter.com/codebyscott">Twitter</a>,
      post horrendous videos on <a href="https://www.youtube.com/channel/UCQLifsB_u_uRDzRHOaMqmyg">YouTube</a>,
      and share my work on <a href="https://github.com/codeByScott">GitHub</a>.
    </p>
  </div>

  <div class="col s12 m6 offset-m1">
    <h2 class="section-title">Recent Posts</h2>
    <% @posts.each do |post| %>
      <h3 class="post-title"><%= link_to post.title, post_path(post) %></h3>
      <time datetime="<%= post.created_at %>" class="post-time-ago-in-words">Posted <%= time_ago_in_words(post.created_at) %> ago</time>
      <p><%= post_snippet(post) %></p>
    <% end %>
  </div>
</div>
