<!-- Index Layout -->
<!-- <div class="container"> -->
  <h1>My Latest Posts</h1>


  <div class="row">
    <% @posts.each do |post| %>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <h2 class="card-title">
              <%= link_to post.title, post_path(post) %>
            </h2>
            <time datetime="<%= post.created_at %>" class="card-date"><%= post.created_at.strftime("%b %d, %Y") %></time>
            <p><%= post.body %></p>
          </div>
          <div class="card-action">
            <%= link_to 'Read more', post %>
          </div>
        </div>
      </div>
    <% end %>
  </div>



<!-- </div> -->
