<h1>My Latest Posts</h1>

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <% if post.image.file? && post.image.present? %>
    <%= image_tag post.image.url(:medium) %>
  <% end %>
  <p><%= post.body %></p>

  <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>

  <hr>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
