<div class="row">
  <div class="col m8 offset-m2">

    <h1><%= @post.title %></h1>
    <% if @post.image.file? && @post.image.present? %>
      <%= image_tag @post.image.url, width: "100%" %>
    <% end %>
    <p><%= @post.body %></p><br />

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </div>
</div>
