<div class="row">
  <div class="col m12 l8 offset-l2">

    <h1><%= @post.title %></h1>
    <span>Published </span>
    <time datetime="<%= @post.created_at %>"><strong><%= @post.created_at.strftime("%b %d, %Y") %></strong> </time>
    <span>by Scott Christensen</span>
    <% if @post.image.file? && @post.image.present? %>
      <%= image_tag @post.image.url, width: "100%" %>
    <% end %>
    <p><%= markdown(@post.body) %></p><br />

    <% if current_user == @post.user %>
      <%= link_to 'Edit', edit_post_path(@post) %> |
    <% end %>
    <%= link_to 'Back', posts_path %>
  </div>
</div>
