<!DOCTYPE html>
<html>
  <head>
    <title>Codebyscott</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "layouts/navbar" %>
    </header>

    <main>
      <div class="container">
        <%= render 'layouts/notices' %>
        <%= yield %>
      </div><!-- /.container -->
    </main>


    <%= render "layouts/footer" %>

    <script id="dsq-count-scr" src="//code-by-scott.disqus.com/count.js" async></script>
  </body>
</html>
