<!DOCTYPE html>
<html>
  <head>
    <title>Codebyscott</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "layouts/navbar" %>
    </header>

    <main>
      <div class="container">
        <% if notice %>
          <script type="text/javascript">
            Materialize.toast('<%= notice %>', 4000)
          </script>
        <% end %>

        <% if alert %>
          <script type="text/javascript">
            Materialize.toast('<%= alert %>', 4000)
          </script>
        <% end %>
      </div><!-- /.container -->

        <%= yield %>
    </main>

    <%= render "layouts/footer" %>

    <script id="dsq-count-scr" src="//code-by-scott.disqus.com/count.js" async></script>
  </body>
</html>
